
.form__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form__labelText {
    flex-basis:90px;
    margin: 5px;
    }

.form__field {
    flex-basis: auto;
    padding: 2px 10px ;
    margin-left: 10px;
}

.form__section {
    margin: 10px;
}