.form__label {
    display: grid;
    grid-template-columns: 150px 210px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    margin-left: 55px;
}

@media (max-width:320px) {
    .form__label {
        margin-left: 7px;
        grid-template-columns: 70px 160px ;
    }
}
@media (min-width:321px) and (max-width:767px) {
    .form__label {
        grid-template-columns: 90px 170px;
        gap: 5px;
        margin-left: 40px;
    }
}

.form__field {
    padding: 3px 10px;
    margin-left: 10px;
}

.form__section {
    margin: 10px;
}

.form__button {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 8px 0;
    margin: 25px 50px 0 50px;
    background-color: hsl(180, 100%, 30%);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 500;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media (max-width:320px) {
    .form__button {
        max-width: 80%;
        margin-left: 25px
    }
}

@media (min-width:321px) and (max-width:767px) {
    .form__button {
        margin-left: 40px;
        max-width: 90%;
    }
} 


.button__paragraph {
    padding-bottom: 30px;
}


.form__button:hover {
    background-color: rgb(188, 77, 203);
    scale: 1.1;
}